/* Variablesn y configuración general */
:root{
    --color0: white;
    --color1:blue;
    --color2: black;
    --color3: rgb(239, 239, 248);
  }
  
.pie {
    text-align: right;
    text-decoration: none;
    padding: 5px;
        }
    .iconos{
     padding: 10px;
     text-align: center!important;
     margin-top: 10px!important;
    }
    