.pie {
  background-color: $color1 !important;
  color: $color0 !important;
  a {
    text-align: right;
    text-decoration: none;
    padding: 5px;
    color: $color0;
    &:hover {
      color: #a4a4a4;
    }
  }
  .iconos {
    padding: 10px;
    text-align: center !important;
    margin-top: 10px !important;
  }
}
